<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- populate fields from current user profile -->

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 40, :value => (@profile.firstname + ' ' + @profile.lastname) %>
  </div>
  <div class="field">
    <%= f.label 'Delivery Address' %><br>
    <%= f.text_area :address, rows: 5, cols: 40, :value => (@profile.address1 + ',' + @profile.address2 + ',' + @profile.address3 + ',' + @profile.address4 + ',' + @profile.address5) %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, size: 40, :value => @current_user.email %>
  </div>
  <div class="field">
    <%= f.label:telephone %><br>
    <%= f.text_field :telephone, size: 40, :value => @profile.telephone %>
  </div>
  <div class="field">
    <%= f.label 'Payment type' %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
  </div>
  <div class="actions">
    <%= f.submit 'Place Order' %>
  </div>
<% end %>
