<h1>Previous Order Breakdown</h1> 
<table class="PreviousOrdersBreakdown">
  <thead>
    <tr>
      <th>Ordered On</th>
      <th>Delivery Name</th>
      <th>Delivery Address</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Payment Type</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td><%= @order.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      <td><%= @order.name %></td>
      <td><%= @order.address %></td>
      <td><%= @order.email %></td>
      <td><%= @order.telephone %></td>
      <td><%= @order.pay_type %></td>
      <td><%= @order.address %></td>
      <td><%= @order.id %></td>
      <td><%= link_to 'Items ordered', order_items_path %></td>
<td><%= @order_item %></td>

    </tr>
  </tbody> </table>
<br>
<%= link_to 'Back', orders_path %>
