<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="col-m-12 col-3" id="cart">
  <%= render @cart %>
</div>

<div class="col-m-12 col-9 mainTeaContent">

<% cache ['store', Tea.latest] do %>
  <% @teas.each do |tea| %>
    <% cache ['entry', tea] do %>  
      <!--<div class="entry"> -->
        <%= image_tag(tea.image_url, :class=>'teaImg', :title=>tea.name, :alt=>'Image of tea') %>
        <h3><%= tea.name %></h3>
        <%= sanitize(tea.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(tea.price) %></span>
          <%= button_to 'Add to Cart', order_items_path(tea_id: tea), remote: true %>
        </div>
	<p class="footerTop">
          <a href="#top">Top</a>
	</p>
	<hr/>
      <!-- </div> -->
    <% end %>
  <% end %>
<% end %>
</div>
