
<p>
  <strong>Name:</strong>
  <%= @tea.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tea.category %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @tea.strength %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tea.country %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@tea.price) %> per 100g
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize(@tea.description) %>
</p>

<p>
  <strong>In Stock:</strong>
  <% if @tea.stock == true %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p>
  <%= image_tag(@tea.image_url, :class=>'teaImg', :title=>@tea.name, :alt=>'Image of tea') %>
  <% if current_user && current_user.isAdmin? %> 
    <strong>Image url:</strong>
    <%= @tea.image_url %>
  <% end %>
</p>

<% if current_user && current_user.isAdmin? %> 
  <%= link_to 'Edit', edit_tea_path(@tea) %> |
<% end %>
