<!DOCTYPE html> <html> <head>
  <title>Teaheaven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  
<body class='<%= controller.controller_name %> '>
  <div class="row">
    <div class="header">
      <a href="/about">
        <%= image_tag('logo.png', :class=>'logoImage', :alt=>'Tea Heaven Logo', :title=>'Tea Heaven Logo') %>
      </a>
      <div id="fullMenu">
        <a href="/store">Tea shop</a>
        <a href="/about">About</a>
        <a href="requestCatalogue.html">Request Catalogue</a>
        <a href="/contact">Contact Us</a>
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, :method => :delete%>
        <% else %>
          <%= link_to 'Register', new_user_registration_path %>
          <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </div>
    </div>

    <!-- reset floats -->
    <div class="row">

      <!-- add a dropdown menu -->
      <div class="dropdownMenu">
        <div class="dropdownMenu">
          <%= image_tag('menuSmall.png', :class=>'menuSmallImage', :alt=>'Menu', :title=>'Menu') %>
          <div class="dropdownMenu-content">
            <a href="/store">Tea shop</a>
            <a href="/about">About</a>
            <a href="requestCatalogue.html">Request Catalogue</a>
            <a href="/contact">Contact Us</a>
            <% if user_signed_in? %>
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete%>
            <% else %>
              <%= link_to 'Register', new_user_registration_path %>
              <%= link_to 'Sign in', new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
   </div>
<!--
  <% if user_signed_in? %> 
    <%= current_user.email %>
    <%= current_user.created_at %>
  <% end %>
-->

<!-- no need to show the cart on the store page as it will have the complete cart already -->
   <% if controller.controller_name != 'store' && controller.controller_name != 'orders' %> 
     Cart: <%= @cart.total_quantity %> item<% if @cart.total_quantity > 1 %>s<% end %> @
     <%= number_to_currency(@cart.total_price) %>
   <% end %>
   
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

  </div>

    <%= yield %>
  </body>
</html>
